.wrapper{
	background:grey;
	min-height: 100vh
}
h1{
	color:white;
}
.character-selection{
	background: url(../images/selection.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.character-selection .page-header {
	color: white;
}

.fluid-container.fight-scene{
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
}

.hero-selected, .hero-selected:active, .hero-selected:hover, .hero-selected:focus, a.hero-selected.thumbnail.active, a.hero-selected.thumbnail:focus, a.hero-selected.thumbnail:hover{
	border: solid green 3px;
	color: green;
	animation: blink .5s step-end infinite alternate;
}
.opponent-selected, .opponent-selected:active, .opponent-selected:hover, .opponent-selected:focus, a.opponent-selected.thumbnail.active, a.opponent-selected.thumbnail:focus, a.opponent-selected.thumbnail:hover{
	border: solid red 3px;
	color: red;
	animation: blink .5s step-end infinite alternate;
}

.hero-selected > .img-char, .opponent-selected > .img-char {
	opacity: 1;
}
.img-char {
	opacity: 0.7;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.img-char:hover {
	opacity: 1;
}

label.char-name {
	display: block;
	text-align: center;
}

.ko{
	opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}